@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --Light-blue: #D6E2F0;
    --Grayish-blue: #7B879D;
    --Dark-blue: #1F3251;
}

*{
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-blue);
    overflow: hidden;
}

a{
    text-decoration: none;
    color: var(--Dark-blue);
}

a:hover{
    color: black;
}

@media (max-width: 500px) {
    a:link{
        color: black;
    }
}